# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.vcxproj

*.filters

*.user

.vs/TestTask/v15/.suo

*.db

.vs/TestTask/v15/ipch/AutoPCH/11741491836a5800/

.vs/TestTask/v15/ipch/AutoPCH/9e0ce19bdd608450/

*.txt

Debug/TestTask.tlog/

Debug/

.vs/TestTask/v15/
/.vs

C\+\+/.vs/TestTask/v15/.suo

*.ipch
/C++/.vs
